body {
    background-color: darkorange
}



h1 {
  color: blue;
  padding: 20px;
  text-align: center;
}
H1:hover {
    color: red;
}
h2 {
    text-align: center;
}
#btn {
    background-color: rgb(1, 136, 255);
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;

}